.listItem {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: white;
  padding: 10px 20px;
  border-radius: 6px;
  user-select: none;
}
.listItemRightPart {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.doneChekbox {
  width: 20px;
  height: 20px;
}
.taskTitle {
  color: black;
  font-size: 24px;
}
.deleteBtn {
  opacity: 50%;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50px;
  color: black;
  font-weight: bold;
  padding: 2px 5px;
  transition: 0.25s ease-in-out;
}
.deleteBtn:hover {
  opacity: 100%;
}

.checked {
  text-decoration: line-through;
  opacity: 50%;
}
