.addContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputField {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid white;
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
  background-color: transparent;
  color: white;
  font-size: 18px;
}
.inputField:focus {
  outline: none;
}

.inputBtn {
  text-wrap: nowrap;
  height: 44px;
  padding: 10px 20px;
  border: none;
  border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
  cursor: pointer;
}
