.mainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .mainContainer {
    max-width: 70%;
    margin: 0 auto;
  }
}
.heading {
  color: white;
  font-size: 64px;
}
@media screen and (max-width: 768px) {
  .heading {
    font-size: 32px;
  }
}